@font-face {
    font-family: Tissa-Regular;
    src: url(Tisa-OT.otf);
}

@font-face {
    font-family: Questrial-Regular;
    src: url(Questrial-Regular.ttf);
}

@font-face {
    font-family: Baskerville;
    src: url(LibreBaskerville-Italic.otf);
    unicode-range: U+26;
}