<form action="index.html" method="post">

    <label for="field-email">Email</label>
    <input type="email" id="field-email" name="field-email" autocomplete="email" required autofocus>

    <label for="field-password">Wachtwoord</label>
    <input type="password" id="field-password" name="field-password" required>

    <input type="checkbox" id="field-stay-logged-in" name="field-stay-logged-in" value="stay-logged-in">
    <label for="field-stay-logged-in">Blijf ingelogd</label>

    <a href="index.html">Wachtwoord vergeten</a>

    <button type="submit">Inloggen</button>

</form>
