<nav>

    <h1>Monster Magnet</h1>

    <ul>
        <li><a href="#main-content" aria-label="Home, current page">Home</a></li>
        <li>
            <a href="producten.html">Producten</a>

            <ul>
                <li><a href="order.html">Monster Magnet in Concert</a></li>
                <li><a href="order.html">Monster Magnet Trowback </a></li>
                <li><a href="order.html">Monster Magnet on Tour</a></li>
            </ul>

        </li>
        <li><a href="chat.html">Chat</a></li>
        <li><a href="login">Inloggen</a></li>
    </ul>

</nav>