@import "fonts/fonts.css";
@import "variables.css";


body {
    margin: 0;
    display: grid;
    grid-template-rows: 25% 10% repeat(3, 1fr) 10%;    
    grid-template-columns: 20% 1fr 20%;
    font-family: var(--sans-serif);
}

body > * {
    grid-column: 2 / -2;
}

nav, footer {
    grid-column: 1 / -1;
}

body > footer {
    background-color: var(--main-black);
    color: var(--main-white);
    padding: 1em;
    text-align: center;
}

img {
    max-width: 100%;
}

h1 {
    font-family: var(--sans-serif);
}

p {
    font-family: var(--serif);
}