@import "fonts/fonts.css";
@import "variables.css";

/*
-----------------------
 -----   FONTS   ----- 
-----------------------
*/

body {
    font-family: Baskerville, var(--sans-serif);
}

h1, h2, h3 {
    margin: 0;
}

p, label {
    font-family: var(--serif);
    color: var(--light-black);
}

/*
-----------------------
 -----  GENERAL  ----- 
-----------------------
*/

body {
    margin: 0;
    display: grid; 
    grid-template-columns: 20% 1fr 20%;
}

body > * {
    grid-column: 2 / -2;
}

nav, footer {
    grid-column: 1 / -1;
}

img, svg {
    max-width: 100%;
}

a {
    color: var(--main-black);
    text-decoration: none;
}

a:focus {
    outline: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/*
-----------------------
 ----- NAVIGATION ----- 
-----------------------
*/

nav {
    display: grid;
    grid-template-columns: 1fr minmax(auto, 50%);
    border-bottom: .1em solid var(--main-gray);
}

nav ul {
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: .5em;
}

nav ul li a {
    color: var(--light-black);
    padding: 0 .5em;
}

nav ul li:hover a,
nav ul li:focus-within a {
    color: var(--main-black);
    transform: translateY(.1em);
    transition: all .3s;
}

nav ul li {
    display: grid;
    align-items: center;
    justify-self: left;
    height: 3em;
    box-sizing: border-box;
    border-bottom: 0;
    transition: all .3s;
    cursor: pointer;
}

nav ul li:hover,
nav ul li:focus-within {
    border-bottom: .5em solid var(--main-black);
    transition: all .3s;
}

nav ul ul {
    display: grid;
    grid-auto-flow: row;
    position: absolute;
    transform: translateY(-999em);
    background-color: var(--white);
    padding: .5em;
    box-shadow: .1em .1em .5em var(--main-gray);
}

nav ul ul li:hover a,
nav ul ul li:focus-within a {
    color: var(--main-white);
}

nav ul ul li:hover,
nav ul ul li:focus-within {
    border-bottom: 0;
}

nav ul ul a:hover,
nav ul ul a:focus-within {
    color: var(--main-black);
}

nav ul li:hover ul,
nav ul li:focus-within ul  {
    transform: translate(0, 3em);
}

nav > ul > li:last-of-type a {
    color: var(--main-black);
    background-color: var(--main-gray);
    padding: .6em 1em;
    border-radius: .5em;
}

nav > ul > li:last-of-type:hover,
nav > ul > li:last-of-type:focus-within {
    border: 0;
}

nav > ul > li:last-of-type:hover a,
nav > ul > li:last-of-type:focus-within a {
    color: var(--main-white);
    background-color: var(--main-black);
    transform: translateY(0);
}


/*
-----------------------
 -----    MAIN   ----- 
-----------------------
*/

fieldset svg {
    min-width: 5%;
    max-width: 10%;
}

fieldset {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border: 0;
}

input[type="radio"] + label {
    display: grid;
    transform: scale(1); 
    transition: all .3s; 
}

input[type="radio"] + label > svg {
    transform: scale(1);
    transition: all .3s; 
}

input[type="radio"] + label:hover > svg,
input[type="radio"]:focus + label > svg,
input[type="radio"]:checked + label > svg {
    transform: scale(1.2);
}

input[type="radio"]:checked + label {
    color: var(--main-black):
}

/*
-----------------------
 -----  FOOTER   ----- 
-----------------------
*/

body > footer {
    background-color: var(--main-black);
    color: var(--main-white);
    padding: 1em;
    text-align: center;
}

footer a {
    color: var(--main-white);
}
